{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <h1 class="flex justify-center mb-8">Mes Commandes</h1>

    <table class="w-full text-sm text-left rtl:text-right text-gray-900 m-8">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">Numéro</th>
                <th scope="col" class="px-6 py-3">Prix</th>
                <th scope="col" class="px-6 py-3">Date</th>
                <th scope="col" class="px-6 py-3">Statut</th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
        {# {{dump(commande)}} #}
        {% for commande in commande %}
            <tr class="odd:bg-white even:bg-gray-50 border-b">
                <td class="px-6 py-4">{{ commande.numero }}</td>
                <td class="px-6 py-4">{{ commande.prix }} €</td>
                <td class="px-6 py-4">{{ commande.dateCommande|date('d/m/Y') }}</td>
                <td class="px-6 py-4">{{ commande.statut }}</td>
                <td class="px-6 py-4"><a href="{{ path('app_order_show', {'numero': commande.numero}) }}">Détails</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Vous n'avez aucune commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
